<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
    <title>Sidebar template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <link href="~/sidebarstyle.css" rel="stylesheet" />

</head>
<body>
    
    <div class="page-wrapper chiller-theme toggled">
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <nav id="sidebar" class="sidebar-wrapper">
            <div class="sidebar-content">
                <div class="sidebar-brand">
                    <a href="#">Menu Bar</a>
                    <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="sidebar-header">
                    <div class="user-pic">
                        <img class="img-responsive img-rounded" src="https://img.etimg.com/photo/msid-74141880,imgsize-62278/kpmg-logo-vector.jpg"
                             alt="KPMG logo">
                    </div>
                    <div class="user-info">

                        <span class="user-role">Employee Management Portal</span>
                        <span class="user-status">
                            <i class="fa fa-circle"></i>
                            <span>Online</span>
                        </span>
                    </div>
                </div>
                <!-- sidebar-header  -->
                @*<div class="sidebar-search">
                    <div>
                        <div class="input-group">
                            <input type="text" class="form-control search-menu" placeholder="Search...">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>*@
                <!--sidebar-search -->
                <div class="sidebar-menu">
                    <ul>
                        <li class="header-menu">
                            <span>Dashboard</span>
                        </li>
                        <li>
                            <a href="/Register/basic">
                                <i class="fa fa-tachometer-alt"></i>
                                <span>Employee Registeration form</span>
                                @*<span class="badge badge-pill badge-warning">New</span>*@
                            </a>
                            @*<div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">
                            Dashboard 1
                            <span class="badge badge-pill badge-success">Pro</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Dashboard 2</a>
                    </li>
                    <li>
                        <a href="#">Dashboard 3</a>
                    </li>
                </ul>
            </div>*@
                        </li>
                        <li>
                            <a href="/Register/Pagefilter">
                                <i class="fa fa-globe"></i>
                                <span>Employee records</span>
                                @*<span class="badge badge-pill badge-danger">3</span>*@
                            </a>
                            @*<div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">
                            Products

                        </a>
                    </li>
                    <li>
                        <a href="#">Orders</a>
                    </li>
                    <li>
                        <a href="#">Credit cart</a>
                    </li>
                </ul>
            </div>*@
                        </li>
                        <li>
                            <a href="/department/Index">
                                <i class="far fa-gem"></i>
                                <span>Department List</span>
                            </a>
                            @*<div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">General</a>
                    </li>
                    <li>
                        <a href="#">Panels</a>
                    </li>
                    <li>
                        <a href="#">Tables</a>
                    </li>
                    <li>
                        <a href="#">Icons</a>
                    </li>
                    <li>
                        <a href="#">Forms</a>
                    </li>
                </ul>
            </div>*@
                        </li>
                        <li>
                            <a href="/Salary/Index">
                                <i class="fa fa-chart-line"></i>
                                <span>Salary Details</span>
                            </a>
                            @*<div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">Pie chart</a>
                    </li>
                    <li>
                        <a href="#">Line chart</a>
                    </li>
                    <li>
                        <a href="#">Bar chart</a>
                    </li>
                    <li>
                        <a href="#">Histogram</a>
                    </li>
                </ul>
            </div>*@
                        </li>
                        <li>
                            <a href="/Leave/leave">
                                <i class="fa fa-globe"></i>
                                <span>Leave Application</span>
                            </a>
                            @*<div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">Google maps</a>
                    </li>
                    <li>
                        <a href="#">Open street map</a>
                    </li>
                </ul>
            </div>*@
                        </li>
                        <li>
                            <a href="/Leave/leavelist">
                                <i class="fa fa-globe"></i>
                                <span>Leave Details</span>
                            </a>
                        </li>
                        <li>
                            <a href="/Leave/raise">
                                <i class="fa fa-globe"></i>
                                <span>Raise Query</span>
                            </a>
                            @*<div class="sidebar-submenu">
                <ul>
                    <li>
                        <a href="#">Google maps</a>
                    </li>
                    <li>
                        <a href="#">Open street map</a>
                    </li>
                </ul>
            </div>*@
                        </li>

                        <li>
                            <a href="/Leave/Download">
                                <i class="fa fa-globe"></i>
                                <span>Staff Manual</span>
                            </a>
                        </li>

                        @*<li class="header-menu">
            <span>Extra</span>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-book"></i>
                <span>Documentation</span>
                <span class="badge badge-pill badge-primary">Beta</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar"></i>
                <span>Calendar</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-folder"></i>
                <span>Examples</span>
            </a>
        </li>*@
                    </ul>
                </div>
                <!-- sidebar-menu  -->
            </div>
            <!-- sidebar-content  -->
            @*<div class="sidebar-footer">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-warning notification">3</span>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                    <span class="badge badge-pill badge-success notification">7</span>
                </a>
                <a href="#">
                    <i class="fa fa-cog"></i>
                    <span class="badge-sonar"></span>
                </a>
                <a href="#">
                    <i class="fa fa-power-off"></i>
                </a>
            </div>*@
        </nav>
        <!-- sidebar-wrapper  -->
        <main class="page-content">
            @*<nav class="navbar navbar-dark bg-dark">*@
                <ul class="nav nav-tabs" style="color:white;background:black">
                    <li class="nav-item"  >
                        <a class="nav-link active" aria-current="page" href="/Menu/Home">Home</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link " href="#">Insights</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link " href="#">Industries</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link " href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Careers</a>
                    </li>
                    <li class="nav-item" >
                        <a class="nav-link " href="#">About us</a>
                    </li>
                </ul>
            @*</nav>*@
            
            
            <div class="container-fluid">
                @RenderBody()
               
            </div>
        </main>
        <!-- page-content" -->
    </div>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript">
        $(".sidebar-dropdown > a").click(function () {
            $(".sidebar-submenu").slideUp(200);
            if (
                $(this)
                    .parent()
                    .hasClass("active")
            ) {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .parent()
                    .removeClass("active");
            } else {
                $(".sidebar-dropdown").removeClass("active");
                $(this)
                    .next(".sidebar-submenu")
                    .slideDown(200);
                $(this)
                    .parent()
                    .addClass("active");
            }
        });

        $("#close-sidebar").click(function () {
            $(".page-wrapper").removeClass("toggled");
        });
        $("#show-sidebar").click(function () {
            $(".page-wrapper").addClass("toggled");
        });

    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

